.downloadscreen {
    background-color: #ffffff;
}
.container-downloadscreen {
    padding-top: 80px;
    padding-bottom: 80px;
}
.downloadscreen-title {
    color: #2d3033;
    text-align: center;
    text-transform: capitalize;
    font-size: 24px;
    margin-bottom: 10px;
}
.downloadscreen-subtitle {
    color: #2d3033;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 30px;
}
.downloadscreen-button {
    display: block;
    margin: auto;
    border: none;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
    background-color: #e84545;
    color: #ffffff;
    font-size: 12px;
    padding: 15px 60px;
    border-radius: 3px;
}
  